<header class="jumbotron">
  <h1>Justin's Awesome App</h1>
</header>
<nav class="navbar navbar-dark bg-primary">
  Navbar
</nav>
<section class="container">
  <div class="row">
    Check out this content!
  </div>
  <div class="row">
  </div>
</section>
<footer>
  An awesome footer
</footer>
